/* .post-list > div{	
	&:nth-child(odd){
		background-color: white !important;
	}
	
	.post-list-element{
		font-size: inherit !important;
		padding:10px 16px 10px 72px !important;
		
		// .post-list-checkbox input[type=checkbox]{
		.post-list-checkbox{
			top: 6px !important;
		}
		img{
			border-radius: 0 !important;
		}
	}
} */

.posts-list{
	.post-list{
		padding: 0 !important;
	}
	.postsListElement{
		border-radius: initial !important;
		.postsListElement-header{
			div,img{
				vertical-align: middle !important;
			}
			img{
				border-radius: initial !important;
			}
		}
		
		.btn-add{
			margin-top: 20px !important;
		}
	}
	
	ul.pagination{
		margin: 10px 0;
	    display: flex;
	    flex-wrap: wrap;
		justify-content: space-between;
		li{
			cursor: pointer;
			&.active{
				font-weight: bold;
				/* border:{
					style:solid;
					width: 1px;
				} */
			}
			a{
				display: inline-block;
				padding: 20px 15px;
			}
		}
	}
}
