.post-list > div{	
	&:nth-child(odd){
		background-color: white !important;
	}
	
	.post-list-element{
		font-size: inherit !important;
		padding:10px 16px 10px 72px !important;
		
		// .post-list-checkbox input[type=checkbox]{
		.post-list-checkbox{
			top: 6px !important;
			/* input[type=checkbox]{
				background-color: white !important;
			} */
		}
		img{
			border-radius: 0 !important;
		}
	}
}
