.clearfix:after{
	content: " ";
	display: block; 
	height: 0; 
	clear: both;
}


#sharp-slideshow-admin{
	line-height: initial;
	// family: 'Roboto';

	#sss-main-container{


		h1{
			font: {
				size: 2rem;
			}
		}

		@media (min-width:600px){
			.left-side{
				float: left;
				width: 50%;
				.left-side-inner{
					padding-right:10px; 
				}
			}
			.right-side{
				float: right;
				width: 50%;
				.right-side-inner{
					padding-left:10px; 
				}
			}
		}
	}
}