
.clearfix:after{
	content: " ";
	display: block; 
	height: 0; 
	clear: both;
}

.no-select,.no-select-all *{user-select:none;}

.spinner.block{
	float:none;
	display:block;
	max-width: 40px;
	margin: 20px auto;
}

#sharp-slideshow-admin{
	padding-right: 10px;
	
	a:focus{
		box-shadow: none;
	}
	
	line-height: initial;
	// family: 'Roboto';

	#sss-main-container{
		h1{
			font: {
				size: 2rem;
			}
		}

		@media (min-width:600px){
			.left-side{
				float: left;
				width: 50%;
				margin-top: 20px;
				.left-side-inner{
					padding-right:10px; 
				}
			}
			.right-side{
				float: right;
				width: 50%;
				.right-side-inner{
					padding-left:10px; 
				}
			}
		}

		.select-ui{
			vertical-align: middle;
			margin: 0 15px 0 15px;
		}
	}
}